Repository firity/HYF-GROUP2, pull requests merged in 2021-04, with the labels that each got.

#15 Update constraints.md
  planning/constraints.md
Labels: planning

#18 added tugba's part-backlog
  planning/backlog.md
Labels: documentation, planning

#19 Updated total hours per day
  planning/README.md
Labels: planning

#20 Updated backlog
  planning/backlog.md
Labels: documentation

#30 updated constraints
  planning/constraints.md
Labels: planning

#31 Header_development
  planning/development-strategy.md
Labels: planning

#33 must-should-could have finished version 2
  planning/backlog.md
Labels: planning

#39 Update and rename to index.html+font
  index.html
Labels: planning

#40 header html
  index.html
  style.css
Labels: html

#46 development Strategy for showcase
  planning/development-strategy.md
Labels: planning, showcase

#48 retrospective_v1
  planning/retrospective.md
Labels: planning

#49 Add our board Retro
  Quick retrospective.jpg
Labels: planning

#47 Adding footer development
  planning/development-strategy.md
Labels: css, footer, html

#50 added image to retrospective
  planning/retrospective.md
Labels: planning

#51 Delete 1 point in retrospective.md
  planning/retrospective.md
Labels: planning

#53 formated header and footer (version 1 for development strategy)
  planning/development-strategy.md
Labels: planning
